.normalsize {
    font-size: 1em;
}
.largesize {
    font-size: 1.25em;
}
#map {
  height: 100%;
  max-height: 1024px;
  width: 100%;
  background-color: grey;
}

.bold {
    font-weight: bold;
}
#infobox {
  font-size: 1.5em;
}
#header {
margin: 15px;
text-align: center;
padding: 15px;
}
#title {
font-size: 2.5em;
} 
#update {
font-size: 1.5em;
}
#source {
font-size: 1.5em;
}
#note {
 width: 50%;
 font-size: 1.15em;
 margin: 0 auto;
 padding: 10px;
}
